<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHnmm3SEeEgDf6F9Me0MX3_DN00giXLsw</string>
	<key>GCM_SENDER_ID</key>
	<string>230067185076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.altijwal.myapp</string>
	<key>PROJECT_ID</key>
	<string>al-tijwal-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>al-tijwal-notifications.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230067185076:ios:608541cea0ebc14c633ee1</string>
</dict>
</plist>